<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czht.smartpark.tbweb.modular.mapper.PassRecordTodayMapper" >
  <resultMap id="BaseResultMap" type="com.czht.smartpark.tbweb.modular.dmo.PassRecordToday" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="new_pass_record_id" property="newPassRecordId" jdbcType="BIGINT" />
    <result column="pass_record_id" property="passRecordId" jdbcType="BIGINT" />
    <result column="pass_datetime" property="passDatetime" jdbcType="TIMESTAMP" />
    <result column="way_of_pass" property="wayOfPass" jdbcType="INTEGER" />
    <result column="register_flag" property="registerFlag" jdbcType="INTEGER" />
    <result column="similarity_degree" property="similarityDegree" jdbcType="REAL" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="user_group" property="userGroup" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_parent_id" property="deptParentId" jdbcType="INTEGER" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="INTEGER" />
    <result column="device_direction" property="deviceDirection" jdbcType="INTEGER" />
    <result column="device_area_id" property="deviceAreaId" jdbcType="INTEGER" />
    <result column="device_entrance_id" property="deviceEntranceId" jdbcType="INTEGER" />
    <result column="device_parent_id" property="deviceParentId" jdbcType="INTEGER" />
    <result column="device_auth" property="deviceAuth" jdbcType="INTEGER" />
    <result column="time_auth" property="timeAuth" jdbcType="INTEGER" />
    <result column="live_auth" property="liveAuth" jdbcType="INTEGER" />
    <result column="facesize_auth" property="facesizeAuth" jdbcType="INTEGER" />
    <result column="filter_flag" property="filterFlag" jdbcType="INTEGER" />
    <result column="filter_time" property="filterTime" jdbcType="BIGINT" />
    <result column="search_id" property="searchId" jdbcType="BIGINT" />
    <result column="classify_id" property="classifyId" jdbcType="BIGINT" />
    <result column="classify_score" property="classifyScore" jdbcType="REAL" />
    <result column="full_fdfs_id" property="fullFdfsId" jdbcType="VARCHAR" />
    <result column="face_fdfs_id" property="faceFdfsId" jdbcType="VARCHAR" />
    <result column="pic_quality" property="picQuality" jdbcType="INTEGER" />
    <result column="pic_score" property="picScore" jdbcType="REAL" />
    <result column="pass_feature_id" property="passFeatureId" jdbcType="BIGINT" />
    <result column="lock_flag" property="lockFlag" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="reserve_int" property="reserveInt" jdbcType="INTEGER" />
    <result column="reserve_bigint" property="reserveBigint" jdbcType="BIGINT" />
    <result column="reserve_double" property="reserveDouble" jdbcType="DOUBLE" />
    <result column="reserve_vchar" property="reserveVchar" jdbcType="VARCHAR" />
    <result column="reserve_blob" property="reserveBlob" jdbcType="LONGVARBINARY" />
  </resultMap>


  <select id="getByPassRecordId" resultMap="BaseResultMap">
    select * from tb_pass_record_today where pass_record_id=#{passRecordId}
  </select>

  <delete id="deleteByPassRecordId">
    delete from tb_pass_record_today where pass_record_id=#{passRecordId}
  </delete>

</mapper>